<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.amov.reversISEC">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera2.full" />

    <application
        android:fullBackupContent="true"
        android:allowBackup="true"
        android:icon="@drawable/reversi_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".interfaces.activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name=".interfaces.activity.GameVsAiActivity"/>
        <activity android:name=".interfaces.activity.RulesActivity"/>
        <activity android:name=".interfaces.activity.GameVsHumanActivity" />
        <activity android:name=".interfaces.activity.CameraActivity"/>
        <activity android:name=".interfaces.activity.GameOnline"/>
    </application>

</manifest>
